<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>湖南地图</title>
		<script src="../static/echarts.js"></script>
		<script src="../static/hunan.js"></script>
	</head>
	<body>
		<div id="main" style="width: 800px;height: 600px;"></div>
		<script>
			var myChart=echarts.init(document.getElementById('main'));
			
			var option={
				title:{
					text:'湖南地图'
				},
				tooltip : {},
				visualMap:{
					
				},
				series:[{
					name:'热度',
					type:'map',
					mapType:'湖南',
					label:{show:true},
					data:[
						{name:'长沙市',value:50},
						{name:'株洲市',value:100},
						{name:'湘潭市',value:200},
						{name:'郴州市',value:100},
						{name:'衡阳市',value:50},
						{name:'岳阳市',value:50},
						{name:'永州市',value:70},
					]
				}]
			};
			myChart.setOption(option);
		</script>
	</body>
</html>
