<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>柱状图</title>
		<script src="../static/echarts.js"></script>
	</head>
	<body>
		<div id="main" style="width: 800px;height:600px;"></div>
		<script>
			var myChart=echarts.init(document.getElementById('main'));
			var option={
				title:{
					text:'柱状图标题',
					
				},
				xAxis:{
					name:'x轴名称',
					data:['类别1','类别2','类别3','类别4'],
					
				},
				yAxis:{
					name:'y轴名称'
				},
				series:[{
					type:'bar',
					data:[10,20,30,40]
				}]
			};
			myChart.setOption(option);
		</script>
	</body>
</html>
