<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>折线图</title>
		<script src="../static/echarts.js"></script>
	</head>
	<body>
		<div id="main" style="width: 800px;height:600px;"></div>
		<script>
			var myChart=echarts.init(document.getElementById('main'));
			var option={
				title:{
					text:'折线图标题'
				},
				xAxis:{
					name:'x轴名称',
					data:['类别1','类别2','类别3','类别4']
				},
				yAxis:{
					name:'y轴名称'
				},
				series:[{
					type:'line',// 简单的折线图只是柱状图的type属性的bar改成line
					data:[10,30,20,40]
				}]
			};
			myChart.setOption(option);
		</script>
	</body>
</html>
