<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <script type="text/javascript" src="{{ url_for('static',filename='echarts.js') }}"></script>
    <script src="{{url_for('static',filename='vintage.js')}}"></script>
    <div id='main' style="height:800px;width: 1200px"></div>
    <script>
        var myChart=echarts.init(document.getElementById('main'),'vintage');
        myChart.setOption(option={
            {#backgroundColor :'#cb0c37',#}
            title:[{
                text:'联想笔记本类型',
                    textStyle:{
                        fontSize:20,
                        color:'#a83a53'
                    },
                x:'25%',
                y:'6%'
            },
                {text:'戴尔笔记本类型',
                    textStyle:{
                        fontSize:20,
                        color:'#a83a53'
                    },
                x:'70%',
                y:'6%'
            },{
        text:'华为笔记本类型',
                    textStyle:{
                        fontSize:20,
                        color:'#a83a53'
                    },
                x:'25%',
                y:'50%'
            },{
        text:'华硕笔记本类型',
                    textStyle:{
                        fontSize:20,
                        color:'#a83a53'
                    },
                x:'70%',
                y:'50%'
            }
            ],
            legend:{},
            series:[{
                name :'联想（Lenovo）',
                type:'pie',
                data:eval({{name1|safe}}),
                label:{show:true},
                radius: 60,
                center: ['75%', '30%'],
            },
            {
                name :'戴尔（DELL）',
                type:'pie',
                data:eval({{name2|safe}}),
                label:{show:true},
                radius: 60,
                center: ['30%', '30%'],
            },
            {
                name :'华为（HUAWEI）',
                type:'pie',
                data:eval({{name3|safe}}),
                label:{show:true},
                radius: 60,
                center: ['30%', '75%'],
            },
            {
                name :'华硕（ASUS）',
                type:'pie',
                data:eval({{name4|safe}}),
                label:{show:true},
                radius: 60,
                center: ['75%', '75%'],
            },
            ]

        })
    </script>
</body>
</html>